<% include includes %>
<% include footer %>

<div class="header">
<ul>
    <li><a class="active" href="/main.txt">HOME</a></li>
    <li><a class="active" href="/">LOGOUT</a></li>
</ul>
</div>
<div class="mainlay">
  <div class="leftpanel">
    <h1>USER INFO</h1>
    <h5><%= uname %></h5>
    <h5><%= fname %></h5>
    <h5><%= sname %></h5>
    <h5><%= email %></h5>
    <h5><%= code %> </h5>
  </div>

  <div class="rightpanel">
      <h1>RIGHTPANEL</h1>
    </div>

  <div class="middle"> 
    <% for(i = 0; i < ppl.length; i++) { %>
    <div class="person">
    <%=  ppl[i]  %>
    </div>
    <% } %>
  </div>


</div>

<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>
