<% include includes %>
<% include footer %>

<div class="header">
<ul>
    <li><a class="active" href="/main.txt">HOME</a></li>
    <li><a class="active" href="/">LOGOUT</a></li>
</ul>
</div>
<div class="mainlay">
  <div class="leftpanel">
    <h1 style="margin-bottom: -40px;">USER INFO</h1>
    <h5>_____________________</h5>
    <h5><%= uname %></h5>
    <h5><%= fname %></h5>
    <h5><%= sname %></h5>
    <h5><%= email %></h5>
    <h5><%= pref %> </h5>
  </div>

  <div class="rightpanel">
      <h1>CHATS</h1>
      <div class="verscroll">
      <% for(i = 0; i < log.length; i++) { %>
        <h2><%= log[i] %></h2>
      <% } %>
      </div>
      <h1>PAGE VIEWS</h1>
  </div>
  
  <div class="middle"> 
    <br>
  <% for(i = 0; i < ppl.length; i++) { %>
    <div class="profile">
      <a href="http://localhost:8080/user/usr=<%=  ppl[i]  %>"><h5><%=  ppl[i]  %></h5></a>
    </div>
  <% } %>
    </div>
</div>


<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>
