<% include includes %>
<% include footer %>

<div class="header">
  <ul>
    <li><a class="active" href="/main.txt">HOME</a></li>
    <li><a class="active" href="/profile_setup.mp3/<%= token %>">PROFILE</a></li>
    <li><a class="active" href="/logout">LOGOUT</a></li>
  </ul>
</div>

<div class="mainlay">
  <div class="leftpanel">
    <h1 style="margin-bottom: -40px;">USER INFO</h1>
    <h5>_____________________</h5><br>
    <h5>
      <%= uname %>
    </h5>
    <h5>
      <%= fname %>
    </h5>
    <h5>
      <%= sname %>
    </h5>
    <h5>
      <%= email %>
    </h5>
    <h5>
      <%= pref %>
    </h5>
    <br>
    <h1 style="margin-bottom: -40px;">CONNECTED</h1>
    <h5>_____________________</h5>
    <div class="verscroll" style="direction:rtl;margin-left:10px;">
      <% for (i = 0; i < uliked.length; i++) { %>
      <a href="http://localhost:8888/user/usr=<%=  uliked[i]  %>">
        <h5>
          <%= uliked[i] %>
        </h5>
      </a>
      <% } %>
    </div>
    <h1 style="margin-bottom: -40px;">VISIT HISTORY</h1>
    <h5>_____________________</h5><br>
    <div class="verscroll" style="direction:rtl;height:200px;">
      <% for (i = 0; i < visithis.length; i++) { %>
      <a href="http://localhost:8888/user/usr=<%=  visithis[i]  %>">
        <h5>
          <%= visithis[i] %>
        </h5>
      </a>
      <% } %>
    </div>
  </div>

  <div class="rightpanel">
    <h1 style="margin-bottom: -40px;">CHATS</h1>
    <h5>_____________________</h5>
    <div class="verscroll">
      <% for(i = 0; i < log.length; i++) { %>
      <% var name = log[i]; %>
      <% name = name.substring(0, name.indexOf(':')); %>
      <a href="http://localhost:8888/user/usr=<%=  name  %>">
        <h2>
          <%= log[i] %>
        </h2>
      </a>
      <% } %>
    </div>
    <h1 style="margin-bottom: -40px;">PAGE VIEWS</h1>
    <h5>_____________________</h5>
    <div class="verscroll">
      <% for (i = 0; i < visits.length; i++) { %>
      <a href="http://localhost:8888/user/usr=<%= visits[i] %>">
        <h2>
          <%= visits[i] %>
        </h2>
      </a>
      <% } %>
    </div>
  </div>

  <div class="middle">
    <br>
    <div class="filter">
      <form>
        <h2>
        </h2>
      </form>
    </div>

    <% for(i = 0; i < ppl.length; i++) { %>
    <div class="profile">
      <a id="<%= ppl[i] %>" href="http://localhost:8888/user/usr=<%=  ppl[i]  %>">
        <h5>
          <%=  ppl[i]  %>
        </h5>
      </a>
    </div>
    <% } %>
  </div>
</div>
<!-- int power(int b){
  int a = 2;
  while (--b){
      a *= 2;
  }
  return (a);
}

int getIntegerComplement(int n) {
  int x = n;
  int i = 0;
  while(x != 0){
      x = x >> 1;
      i++;
  }
  while (--i){
      if (n <= (power(i) - 1)){
          x += power(i);
      }
      n = n & (power(i)-1);
  }
  if (!n){
      x++;
  }
  return (x);
} -->
<!-- int* sort(int *a){
  int i = 0;
  int k = 1;
  int x;
  while (k){
      k = 0;
      i = 0;
      while(a[i + 1]){
          if (a[i] > a[i + 1]){
              x = a[i];
              a[i] = a[i + 1];
              a[i + 1] = x;
              k = 1;
          }
          i++;
      }
  }
  return (a);
}

int numberOfPairs(int a_count, int* a, long k) {
  int *sorted = sort(a);
  int i = 0;
  int j = 0;
  int x = 0;
  while (sorted[i + 1]){
      if (i && sorted[i] == sorted[i - 1]){
          i++;
          continue;
      }
      j = i + 1;
      while (sorted[j]){
          if (j - i > 1 && sorted[j] == sorted[j - 1]){
              j++;
              continue;
          }
          if (sorted[i] + sorted[j] == k){
              x++;
          }
          j++;
      }
      i++;
  }
  return (x);
} -->

<script>
  navigator.geolocation.getCurrentPosition(function (position) {
    console.log(position);
  });
</script>